        .a{
            position: relative;
            top: 50px;
            width: 500px;
            height: 300px;
            background-image: url("img/bottom1.jpg");
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
			clip-path:polygon(0 8.3%,100% 8.3%,100% 91.6%,0 91.6%);
        }
        .b,
        .c,
        .d,
        .e{
            position: absolute;
            width: 500px;
            height: 300px;
            /* 设置阴影 */
            filter: drop-shadow(4px 4px 12px rgba(0,0,0,.5));
            background-size: cover;
            opacity: .7;
            transition: .5s;
        }
        .b::after,
        .c::after,
        .d::after,
        .e::after{
            content: "";
            position: absolute;
            width: 500px;
            height: 300px;
            background-image: url("img/bottom1.jpg");
        }
        .b{
            left: -200px;
            transform: rotateZ(100deg);
            overflow: hidden;
        }
        .b::after{
            transform: rotateZ(-100deg);
        }

        .c{
            left: -200px;
            transform: rotateZ(-100deg);
            overflow: hidden;
        }
        .c::after{
            transform: rotateZ(100deg);
        }

        .d{
            right: -200px;
            transform: rotateZ(105deg);
            overflow: hidden;
        }
        .d::after{
            transform: rotateZ(-105deg);
        }

        .e{
            right: -200px;
            transform: rotateZ(-100deg);
            overflow: hidden;
        }
        .e::after{
            transform: rotateZ(100deg);
        }
        .f{
            opacity: 0;
            font: 900 25px '';
            /* 设置字体间距 */
            letter-spacing: 10px;
            color:#FFFFFF;
            transition: .5s;
        }
        /* 设置动画 */
        .a:hover .b{
            left: -275px;
        }
        .a:hover .c{
            left: -300px;
        }
        .a:hover .d{
            right: -275px;
        }
        .a:hover .e{
            right: -305px;
        }
        .a:hover .f{
            opacity: 1;
        }